/*面包屑*/
.tools-breadcrumbs{padding:20px 0 20px 0;}
.tools-breadcrumbs-text{width: 1000px;margin: auto;height: 40px;line-height: 40px;background: #fff;}
.tools-breadcrumbs-text label{color:#747d87}
.tools-breadcrumbs-text a{color:#0474c8}
.tools-breadcrumbs-text a:hover{color:#ff0000;text-decoration:underline;}
/*tdurl*/
.tools-tdurl{width:100%;background-color: #e8e8e8;font-size: 14px;}
.tools-tdurl-content{width:1000px;margin:0 auto;background-color:#fff;}
.tools-tdurl-content-main{width: 80%;margin:0 auto;padding: 30px 0 30px 0;}
.tools-tdurl-top,.tools-tdurl-bottom{width: 700px; margin: 0 auto;}
.tools-textarea{resize:none}
.tdurl-but{float: right;margin:10px 26px 0 0;}
.tdurlBtn{background-color:#55a7e3;color:#fff;border: none;padding:0 12px;height:35px;line-height: 35px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;cursor: pointer}
.tdurlBtn:hover {filter: alpha(opacity=80);opacity: 0.8;}
/*时间戳*/
.tools-unixtime{width:100%;background-color: #e8e8e8;font-size: 14px;}
.tools-unixtime input{height:24px;line-height:24px;}
.tools-unixtime .tools-unixtime-content{width:1000px;margin:0 auto;background-color:#fff;}
.tools-unixtime-content-main{width: 80%;margin:0 auto;padding: 30px 0 30px 0;}
.tools-unixtime-left{float:left;display: inline-block;margin-right:10px;}
.tools-unixtime-right{float:left;display: inline-block;}
.tools-unixtime-right-con{margin-right:10px;border:1px solid #c6cede;background-color:#fff;text-align:center;line-height:30px;height:30px;padding:0 10px 0 10px;cursor: pointer;}
/*Base64*/
.tools-base{width:100%;background-color: #e8e8e8;font-size: 14px;}
.tools-base-content{width:1000px;margin:0 auto;background-color:#fff;}
.tools-base-content-main{width: 80%;margin:0 auto;padding: 30px 0 30px 0;}
.tools-base-top,.tools-base-bottom{width: 700px; margin: 0 auto;}
.tools-textarea{resize:none}
.base-but{float: right;margin:10px 26px 0 0;}
.base64Btn{background-color:#55a7e3;color:#fff;border: none;padding:0 12px;height:35px;line-height: 35px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;cursor: pointer}
.base64Btn:hover {filter: alpha(opacity=80);opacity: 0.8;}
/*URL加密/解密*/
.tools-urlencode{width:100%;background-color: #e8e8e8;font-size: 14px;}
.tools-urlencode-content{width:1000px;margin:0 auto;background-color:#fff;}
.tools-urlencode-content-main{width: 80%;margin:0 auto;padding: 30px 0 30px 0;}
.tools-urlencode-top,.tools-urlencode-bottom{width: 700px; margin: 0 auto;}
.tools-textarea{resize:none}
.urlencode-but{float: right;margin:10px 26px 0 0;}
.urlencodeBtn{background-color:#55a7e3;color:#fff;border: none;padding:0 12px;height:35px;line-height: 35px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;cursor: pointer}
.urlencodeBtn:hover {filter: alpha(opacity=80);opacity: 0.8;}
/*工具简介*/
.tools-introduce{padding:20px 0 20px 0;}
.tools-introduce-text{width: 1000px;margin: auto;line-height:30px;background: #fff;}
.tools-introduce-text label{color:#0474c8}
.tools-introduce-text p{text-indent:2em;color:#777777}

